input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-default);
  padding: 0.75rem 1rem;
  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: 0.25rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0.25rem solid var(--surface-secondary);
  border: 0.0125rem solid var(--stroke-highlight);

  /* Compatibilidade com o browser Safari */
  outline-offset: .1px;
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }

  &::before {
    content: "";
    display: block;
    background: url(../../assets/icons/calendar-03.svg) center/contain;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
  }
}

select {
  background: 
  url(../../assets/icons/arrow-down-01.svg)
  no-repeat
  calc(100% - 1rem);
}
