#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;
}

#app main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;

    & .information-header {
      & .back {
        align-items: center;
      }

      & .information h1 {
        font: 600 1.5rem/125% var(--font-family);
      }
    }
  }
}

#app aside {
  padding: 4rem;
  background-color: var(--surface-secondary);

  & .aside-container {
    max-width: 31rem;

    & header {
      margin-bottom: 2rem;

      & h2 {
        font: 600 2.5rem/125% var(--font-family);

        & span {
          color: var(--text-highlight);
        }
      }
    }
  }
}
